.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#grettings {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: medium;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#tableData {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 20px solid #ddd;
  width: 100%;
}

#tableData td, #tableData th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableData tr:nth-child(even){background-color: #f2f2f2;}

#tableData tr:hover {background-color: #ddd;}

#tableData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
}
